<div>
  <h2>Hill Cipher (2x2 Matrix)</h2>

  <div>
    <label for="textInput">Text:</label>
    <input id="textInput" [(ngModel)]="text" (input)="onTextInput($event)" placeholder="Enter text">
  </div>

  <div class="key-matrix">
    <h3>Key Matrix (2x2):</h3>
    <table>
      <tr>
        <td><input type="number" [(ngModel)]="keyMatrix[0][0]" (input)="onKeyInput(0, 0, $event)" min="0" max="25"></td>
        <td><input type="number" [(ngModel)]="keyMatrix[0][1]" (input)="onKeyInput(0, 1, $event)" min="0" max="25"></td>
      </tr>
      <tr>
        <td><input type="number" [(ngModel)]="keyMatrix[1][0]" (input)="onKeyInput(1, 0, $event)" min="0" max="25"></td>
        <td><input type="number" [(ngModel)]="keyMatrix[1][1]" (input)="onKeyInput(1, 1, $event)" min="0" max="25"></td>
      </tr>
    </table>
  </div>
  
  <div>
    <button (click)="generateValidKey()">Generate Valid Key</button>
  </div>

  <div>
    <button (click)="encrypt()" [disabled]="!text">Encrypt</button>
    <button (click)="decrypt()" [disabled]="!text">Decrypt</button>
  </div>

  <div *ngIf="errorMessage !== null" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="result" class="result-display">
    <h3>Result:</h3>
    <p>{{ result }}</p>
  </div>
</div>